{erl_opts, [{src_dirs, ["src"]},
            {parse_transform, lager_transform},
            debug_info]}.
{cover_enabled, true}.
{template_vars, [{license, ""}]}.
{deps_dir, ["deps"]}.
{deps, [
        {lager, ".*", {git, "git://github.com/basho/lager.git", "HEAD"}},
        {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", "HEAD"}},
        {cowboy, ".*", {git, "git@github.com:extend/cowboy.git", "HEAD"}},
        {meck, ".*", {git, "git@github.com:eproxus/meck.git", "HEAD"}},
        {folsom, ".*", {git, "git@github.com:boundary/folsom.git", "HEAD"}}
       ]}.
{sub_dirs, []}.
